<form [formGroup]="clienteForm" (submit)="submitForm()" >
    <div class="box">
        <h1 mat-dialog-title>Tu pedido va estar listo</h1>
        <div mat-dialog-content>
            <div class="box">
                <p>Queremos saber donde enviar el pedido?</p>
                <mat-form-field appearance="legacy">
                    <mat-label>Nombre Completo</mat-label>
                    <input validar matInput formControlName="nombre" id="nombre">
                </mat-form-field>

                <mat-form-field appearance="legacy">
                    <mat-label>Celular</mat-label>
                    <input validar matInput formControlName="celular" id="celular">
                </mat-form-field>
                <mat-form-field appearance="legacy">
                    <mat-label>Dirección</mat-label>
                    <input validar matInput formControlName="direccion" id="direccion">
                </mat-form-field>
            </div>
        </div>
        <div mat-dialog-actions>
            <button mat-button (click)="cerrar()" type="button"
            [disabled]="loading" id="btnCancelar">No Gracias</button>
            <button mat-button color="primary" type="submit"
            [class.spinner]="loading" [disabled]="loading"
             cdkFocusInitial id="btnConfirmar">Confirmar</button>
        </div>
    </div>
</form>